@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: unset;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  marker: none;
  margin: 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
}
